/*body.dark-theme {
  background-color: #111;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  text-align: center;
  background-color: #1a1a1a;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px #0f0;
}

.logo {
  width: 180px;
  margin-bottom: 20px;
}

.select-loja,
input[type="password"],
button {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: none;
  border-radius: 6px;
}

.select-loja,
input[type="password"] {
  background: #222;
  color: white;
}

button {
  background: #00ff90;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.animation-box {
  width: 120px;
  height: 120px;
  margin: auto;
  margin-bottom: 20px;
}

*/
